$dark-1000: #060714;
$dark-500: #262840;
$gray-white-1000: #7780a1;
$gray-white-500: #bbc0d0;
$gray-white-200: #e2e2ed;
$gray-white: #f2f3f6;
$purple-1000: #2a27c9;
$purple-500: #514cff;
$purple-200: #2a27c91a;
$purple-light: #524cff27;
$green: #76decc;
$pink: #ea6cbc;
$orange: #fb4539;
$white: #ffffff;

// Breakpoints
$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$mobile: 678px;
$tablet: 768px;
$desktop: 1024px;
$desktop-md: 1400px;
$desktop-lg: 3000;
